<h1>Ham Bur Ger Express</h1>

<h2> Burgers Ready to Devour! </h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=1}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers you have Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=0}}
    {{/if}}
  {{/each}}
</ul>


<h2>Order a new burger </h2>
<form class="create-form">
  <div class="form-group">
    <label for="bur-ger">Your new burger:</label>
    <input type="text" id="bur-ger" name="name">
  </div>
<button type="submit">Add a burger</button>


</form>